.site-header {
  padding: 15px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
}
.site-header__navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.site-header__navigation-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.site-header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.site-header__logo img {
  width: 150px;
}
.site-header__menu-button {
  border: none;
  font-size: 22px;
  background-color: transparent;
  display: none;
  cursor: pointer;
}
.site-header__navigation-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #000000;
  cursor: pointer;
}
.site-header__search-form {
  flex-grow: 1;
}
.site-header__icons {
  display: flex;
  gap: 20px;
}
.site-header__icons svg {
  font-size: 18px;
}
.site-header__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.site-header__search {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 2px 10px;
}
.site-header__search svg {
  font-size: 20px;
}
.site-header__search-input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 30px 8px 10px;
  width: 100%;
}
@media (max-width: 880px) {
  .site-header__navigation-links {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(170, 170, 170, 0.2666666667);
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
  }
  .site-header__navigation-item {
    line-height: 10px;
  }
  .site-header__menu-button {
    display: block;
  }
  .site-header__close-button {
    display: flex;
  }
  .site-header__navigation-show {
    left: 0;
  }
}
@media (max-width: 470px) {
  .site-header__search-form {
    display: none;
  }
  .site-header__navigation {
    gap: 10px;
  }
  .site-header__icons-search {
    display: block;
  }
}
@media (max-width: 340px) {
  .site-header__logo img {
    width: 120px;
  }
}

@media (min-width: 861px) {
  .site-header__search {
    width: 39%;
  }
}
.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.top-bar {
  padding: 12px 20px;
  background-color: #000;
  color: #fff;
}
.top-bar__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.top-bar__text a {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  margin-left: 5px;
}
.top-bar__text a:hover {
  color: #ccc;
}
.top-bar__close {
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.top-bar__close:hover {
  color: #ccc;
}

.site-header {
  padding: 15px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
}
.site-header.scrolled {
  box-shadow: 0 4px 6px rgba(219, 218, 218, 0.1);
}
.site-header__navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.site-header__navigation-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.site-header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.site-header__logo img {
  width: 150px;
}
.site-header__menu-button {
  border: none;
  font-size: 22px;
  background-color: transparent;
  display: none;
  cursor: pointer;
}
.site-header__navigation-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #000000;
  cursor: pointer;
}
.site-header__search-form {
  flex-grow: 1;
}
.site-header__icons {
  display: flex;
  gap: 20px;
}
.site-header__icons svg {
  font-size: 18px;
}
.site-header__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.site-header__search {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 2px 10px;
}
.site-header__search svg {
  font-size: 20px;
}
.site-header__search-input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 30px 8px 10px;
  width: 100%;
}
@media (max-width: 880px) {
  .site-header__navigation-links {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(170, 170, 170, 0.2666666667);
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
  }
  .site-header__navigation-item {
    line-height: 10px;
  }
  .site-header__menu-button {
    display: block;
  }
  .site-header__close-button {
    display: flex;
  }
  .site-header__navigation-show {
    left: 0;
  }
}
@media (max-width: 470px) {
  .site-header__search-form {
    display: none;
  }
  .site-header__navigation {
    gap: 10px;
  }
  .site-header__icons-search {
    display: block;
  }
}
@media (max-width: 340px) {
  .site-header__logo img {
    width: 120px;
  }
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.top-bar {
  padding: 12px 20px;
  background-color: #000;
  color: #fff;
}
.top-bar__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.top-bar__text a {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  margin-left: 5px;
}
.top-bar__text a:hover {
  color: #ccc;
}
.top-bar__close {
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.top-bar__close:hover {
  color: #ccc;
}

.site-header__wishlist-icon {
  position: relative;
  display: inline-block;
}

.site-header__wishlist-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #e74c3c;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: bold;
}
/*# sourceMappingURL=Header.css.map */